div#cameraWrapper{
    position: relative;
}
div#numberPlate{
    border: 2px solid pink;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    color: azure;
    text-shadow: 2px 2px black;
}